<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
<title>{{pageTitle}}e</title>
</head>

<body>
    {{> header}}
    <p>Some text here</p>

    {{> footer}}
</body>

</html>